@charset "utf-8";
header{
	width: 100%;
	min-width: 1160px;
	height: 30px;
	background-color: #323232;
}
header .logo img{
	float: left;
	margin: 6px 5px 0 30px;
	width: 58px;
	height: 18px;
	border: 0;
}
header .header_nav{
	margin-left: 13px;
	display: block;
	float: left;
}
header .nav_list{
	position: relative;
	height: 30px;
	float: left;
}
header .nav_list a{
	display: block;
	padding:0 10px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 700;
	color: silver;
	vertical-align: top;
	margin-right: 10px;
}
header .select a{
	color: #10b041;
}
header .nav_list a .down{
	width: 12px;
	height: 6px;
	margin-left: 3px;
}
/*header小图标部分*/
header .header_ser_icon{
	position: absolute;
	right: 215px;
	top: 5px;
	width: 30px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	border-right: 1px solid #666;
}
header .header_ser_icon span{
	font-family: iconfont_q_layout_headerfooter!important;
	color: silver;
	font-size: 16px;
	font-weight: 400;
}
header .header_ser_icon span:before{
	content: "\e61c";
}
header .header_icons{
	position: absolute;
	right: 10px;
	top: 0;
	width: 180px;
	height: 30px;
	line-height: 30px;
}
header .header_icons a{
	display: inline-block;
	width: 30px;
	color: silver;
}
header .header_icons a span{
	font-family: iconfont_q_layout_headerfooter!important;
	font-size: 16px;
	color: silver;
	font-weight: 400;
}
header .header_icons span.header_q:before{
	content: "\e615";
}
header .header_icons span.header_w:before{
	content: "\e626";
}
header .header_icons span.header_c:before{
	content: "\e629";
}

#citywalk{
	width: 100%;
	box-size:;
}
#citywalk .citywalk_header{
	width: 100%;
	height: 80px;
	min-width: 1300px;
}
.cityall{
	height: 40px;
	width: 100%;
	display: flex;
}
.citylogo{
	width: 114px;
	height: 40px;
	float: left;
	padding-left: 120px;
}
.citylogo>span{
	float: left;
	height: 40px;
	width: 100%;
	background: url(img/head-logo.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 20px;
}
.citysearch{
	margin-top: 20px;
	float: left;
	height: 40px;
	width: 700px;
	padding: 0 60px 0 65px;
}
.citysearch>input{
	text-indent: 40px;
	height: 100%;
	width: 100%;
	background: url(img/search.png) no-repeat 15px;center;
	border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    font-size: 14px;
}
.citymine{
	margin-top: 20px;
	float: left;
	height: 40px;
	width: 182px;
	line-height: 40px;
}
.citymine>span{
	border-right: 1px solid #C1C9DF;
	padding: 0 10px; 
	color: #C1C9DF;
	padding-left:30px; 
	padding-top: 4px;
}
.citymine>span:first-of-type{
	background: url(img/ben.png) no-repeat;
}
.citymine>span:last-of-type{
	background: url(img/hert.png) no-repeat  0 center;
	border: none;
}


.citynavbox{
	float: left;
	width: 100%;
	border-bottom: 2px solid #45C79F;
}

.citynav{
	margin-left: 110px;
	float: left;
	width: 1126px;
	height: 65px;
	padding-bottom: 3px;
}
.citynav ul{
	display: flex;
}
.citynav ul li{
	flex:1;
	width: 1150px;
	line-height: 65px;
	text-align: center;
	cursor: pointer;
}
.citynav>ul li a{
	color: #323232;
	font-size: 14px;
}
.citynav>ul li:hover{
	border-bottom: 2px solid #45C79F;
}
.city_img{
	float: left;
	width: 100%;
	height: 420px;
}
.city_img span{
	width: 100%;
	height: 100%;
	float: left;
}
.city_img span>img{
	margin-left: -300px;
}
#cityplay img{
	position: absolute;
	margin-top: 6px;
	margin-left: 27px;
	height: 12px;
	width: 40px;
}
#cityplay:after{
	content: "";
	overflow: hidden;
	border-top: 6px solid #d0392a;
	border-right: 6px solid transparent;
}





.citymain{
	float: left;
	height: 100%;
	width: 100%;
	background-color: #33312E;
	padding-top: 0.1px;
}
.citymain_na{
	width: 100%;
	float: left;
}
.citylist{
	background-color: #fff;
	height: 102px;
	width: 1150px;
	margin-left: 110px;
	float: left;
	margin-top: 30px;
}
.citylist>div{
	float: left;
	height: 102px;
	width: 90px;
	line-height: 60px;
	margin-left: 20px;
	font-size: 14px;
}
.citylist>ul{
	float: left;
	height: 102px;
	width: 85%;
	font-size: 14px;
}
.citylist>span{
	float: left;
	margin-top: 20px;
	font-size: 14px;
	background-color: #58BA7D;
}
.citylist>ul>li{
	margin-top: 20px;
	padding: 0 10px;
	float: left;
}
.citylist>ul>li>a{
	color: #67677B;
}
.citylist>ul>li>a:hover{
	text-decoration: underline;
	color: #45C79F;
}

.citymain .citysort{
	float: left;
	height: 80px;
	width: 100%;
}
.citysort_rank{
	margin-top: 28px;
	height: 32px;
	width: 1150px;
	margin-left: 110px;
	float: left;
}
.citysort_rank>ul>li{
	float: left;
	padding-right: 35px;
}

.citysort_rank>ul>li>a{
	font-size: 14px;
	color: #fff;
}
.citysort_rank>ul>li:first-of-type>a{
	color: #45C79F;
}
.citysort_rank>ul>li>input{
	height: 18px;
	width: 18px;
}
.citydetials{
	margin-bottom: 30px;
	height: 280px;
	width: 1150px;
	margin-left: 110px;
	float: left;
}
.citydetials .citybannar{
	float: left;
}
.citydetials .citydet{
	float: left;
	padding-left: 20px;
	background-color: #fff;
	height: 280px;
	width: 710px;
}
.citydet>div>span{
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 40px;
	border:1px solid #ccc;
	font-size: 14px;
	margin-top:10px;
}
.citydet>div>.citypro{
	float: right;
	line-height: 52px;
	margin-right: 20px;
	font-size: 14px;
}
.cityeat{
	float: left;
	width: 710px;
}
.cityeat a{
	font-size: 26px;
	font-weight: bold;
	color: #000;
}
.cityhist{
	float: left;
}
.cityhist>ul{
	float: left;
}
.cityhist>ul>li{
	font-size: 14px;
	color: #666;
	line-height: 26px;
}
.citymoney{
	
	height: 80px;
	width: 180px;
	float: right;
	margin-left: 338px;
}
.citymoney span:nth-of-type(1){
	line-height: 130px;
	font-size: 14px;
	color: #666;
	text-decoration: line-through;
}
.citymoney span:nth-of-type(2){
	line-height: 115px;
	font-size: 40px;
	color: #FF7362;
	padding:0 10px;
}
.citymoney span:nth-of-type(3){
	line-height: 130px;
	font-size: 14px;
	color: #666;
}
.cityresave{
	float: left;
	width: 710px;
	height: 56px;
	margin-top: 14px;
}
.cityresave>a{
	float: right;
	height: 56px;
	width: 172px;
	text-align: center;
	line-height: 56px;
	font-size: 18px;
	color: #fff;
	background-color: #FF7362;

}
.cityhist>ul>li>i{
	font-family: zworld!important;
   	font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #00B081;
    padding-right: 10px;
}
.cityhist>ul>li>i:before {
    content: "\e615";
}

.citypage{
	float: left;
	height: 70px;
	width: 100%;
}
.citypage>div{
	width: 1150px;
	height: 70px;
	margin-left: 110px;
}
.citypage>div>div{
	height: 70px;
	width: 100px;
	line-height: 70px;
	float: right;
	margin-right: 20px;
}
.citypage>div>div>span{
	padding-right: 10px;
	font-size: 14px;
	color: #fff;

}

/*底部详情介绍部分的样式*/

.index_mes{
	width: 100%;
	height: 220px;
	background-color: #f5f5f5;
	padding-top: 0.1px;
	float: left;
}

.index_mes .index_kind{
	width: 1160px;
	margin:0 auto;
	height: 30px;
	margin-top: 27px;
	font-size: 18px;
	color: #575757;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.index_mes .index_kind a{
	padding-right:25px;
	border-right: 1px solid #dfe0e5;
}
.index_mes .index_kind a:last-of-type{
	border: none;
}

.index_mes .index_dl{
	width: 1160px;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;

}
.index_mes .index_dl dl{
	width: 355px;
	margin-top: 30px;
}
.index_mes .index_dl dl dt{
	float: left;
	width: 56px;
	height: 56px;
	background: url(img/index_foo.png);
	margin-right: 15px;
}
.index_mes .index_dl dl:first-of-type dt{
	background-position: 0 0;
}
.index_mes .index_dl dl:nth-of-type(2) dt{
	background-position: 0 56px;
}
.index_mes .index_dl dl:nth-of-type(3) dt{
	background-position: 0 112px;
}
.index_mes .index_dl dl dd:first-of-type{
	font-size: 16px;
	color: black;
}
.index_mes .index_dl dl dd:last-of-type{
	color: #959595;
}





/*底部样式*/
.index_footer{
	width: 100%;
	color: #c0c0c0;
	height: 265px;
	background-color:#333333 ;
	padding-top: 0.1px;
	float: left;
}
.index_footer .index_ft{
	width: 1160px;
	margin:0 auto;
}
.index_ft .index_fole{
	float: left;
	width: 775px;
	height: 265px;
}
.fole_top{
	margin-top: 40px;
	height: 30px;
}
.fole_top  img{
	float: left;
}
.fole_top p{
	width: 540px;
	float: left;
	margin-left: 20px;
	font-size: 14px;
}
.fole_bo{
	margin-top: 55px;
}
.fole_bot{
	width: 650px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.fole_bot a{
	border-right: 1px solid #c0c0c0;
	padding-right:20px;
	padding-left: 20px;
}
.fole_bot a:first-of-type{
	padding-left: 0;
}
.fole_bot a:last-of-type{
	border:none;
}
.fole_num{
	margin-top: 10px;
}
.fole_friend{
	width: 350px;
	margin-top: 10px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.index_ri{
	float: left;
	width: 450px;
	margin-top: 50px;
}
.index_ri span{
	font-size: 18px;
	float: left;
	margin-left: 70px;
	margin-top: 10px;
}
.index_ri .index_rimg{
	float: left;
	width: 250px;
	margin-left: 10px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.index_ri .index_rimg div{
	width: 48px;
	height: 48px;
	border-radius: 48px;
	line-height: 48px;
	border:1px solid #c0c0c0;
	text-align: center;
}
.index_ri .index_rimg img{
	width: 32px;
	height: 32px;
}